@import "eli-pres/_global";
@import "eli-pres/_mixins";
@import "eli-pres/_headers";
@import "eli-pres/_list";
@import "eli-pres/_footer";
@import "eli-pres/_utils";

.emoji {
	font-style: normal !important;
}

/*********************************************
 * State modes
 *********************************************/
html.footer-fade .footer {
	color: rgba(0,0,0,.2);
}

.reveal section .st-logo {
	width: 33%;
	background: transparent;
	box-shadow: none;
}

.active {
	transition: 0.2s all;
	-webkit-user-select: none;
	cursor: pointer;
	display: inline-block;
	border-radius: 0.05em;
	&:hover {
		background: $color-pink;
	}
	&:active {
		background: darken($color-pink, 30%);
		transform: translateY(10%);
	}
}